<div class="row-layout group">
  <igx-card class="card">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar [roundShape]="true" class="avatar"></igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>
        Rozes
      </h3>
      <h5 igxCardHeaderSubtitle>
        Under the grave (2016)
      </h5>
    </igx-card-header>
    <igx-card-media height="200">
      <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" />
    </igx-card-media>
    <igx-card-actions [reverse]="true" class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Play
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card class="card-1">
    <igx-card-media height="300px">
      <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Title goes here
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here
      </h5>
    </igx-card-header>
    <igx-card-actions class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card [horizontal]="true" class="card-2">
    <div>
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Title goes here
        </h3>
        <h5 igxCardHeaderSubtitle>
          Subtitle goes here
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <div class="column-layout column-layout-1">
          <p class="text-1"></p>
        </div>
      </igx-card-content>
    </div>
    <igx-card-media width="96">
      <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" />
    </igx-card-media>
  </igx-card>
  <igx-card class="card-11">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Rozes
      </h3>
      <h5 igxCardHeaderSubtitle>
        Under the grave (2016)
      </h5>
    </igx-card-header>
    <igx-card-actions [reverse]="true" class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Play
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card [horizontal]="true" class="card-3">
    <div>
      <div class="row-layout">
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-avatar src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" size="medium" class="avatar"></igx-avatar>
          </div>
          <h3 igxCardHeaderTitle>
            Rozes
          </h3>
          <h5 igxCardHeaderSubtitle>
            Under the grave (2016)
          </h5>
        </igx-card-header>
      </div>
      <igx-card-content class="body-content">
        <div class="column-layout column-layout-1">
          <p class="igx-typography__body-2 text-1">
            As I have always said: I write what’s real and what’s true, even if it means throwing myself under the bus
          </p>
        </div>
      </igx-card-content>
    </div>
    <igx-card-actions [vertical]="true" class="actions-content">
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card class="card">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar icon="people" [roundShape]="true"></igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>
        Title goes here
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content"></igx-card-content>
    <igx-card-actions class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          adb
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple class="icon-button-2">
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
</div>
<div class="row-layout group_1">
  <igx-calendar [weekStart]="2" [hasHeader]="false" class="calendar"></igx-calendar>
  <igx-calendar [value]="date" [hasHeader]="true" class="calendar"></igx-calendar>
  <igx-calendar [vertical]="true" [hasHeader]="true" class="calendar"></igx-calendar>
</div>
