<div class="row-layout group">
  <div class="row-layout group_1">
    <button igxButton="raised" igxRipple [igxToggleAction]="customDialog" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Open custom dialog</span>
    </button>
    <igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" [igxToggleAction]="customDialog" #customDialog>
      <igx-dialog-title>
        <h5>
          Confirmation
        </h5>
      </igx-dialog-title>
      <ng-container>
        <img src="/assets/SketchParser.png" class="image" />
      </ng-container>
      <igx-dialog-actions>
        <button igxButton="raised" igxRipple [igxToggleAction]="customDialog" class="button_1">
          Yay
        </button>
        <button igxButton="outlined" igxRipple [igxToggleAction]="customDialog" class="button_1">
          Nay
        </button>
      </igx-dialog-actions>
    </igx-dialog>
  </div>
  <div class="row-layout group_1">
    <button igxButton="raised" igxRipple [igxToggleAction]="alert" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Open alert dialog</span>
    </button>
    <igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" message="Are you sure you want to do this?" leftButtonLabel="Cancel" rightButtonLabel="OK" (leftButtonSelect)="alert.toggle()" (rightButtonSelect)="alert.toggle()" #alert></igx-dialog>
    <igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" message="Are you sure you want to do this?" leftButtonLabel="Cancel" rightButtonLabel="OK" (rightButtonSelect)="dialog.toggle()" (leftButtonSelect)="dialog.toggle()" #dialog>
      <igx-dialog-title>
        <h5>
          Confirmation
        </h5>
      </igx-dialog-title>
    </igx-dialog>
  </div>
  <div class="row-layout group_1">
    <button igxButton="raised" igxRipple [igxToggleAction]="confirm" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Open confirmation dialog</span>
    </button>
    <igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" message="Are you sure you want to do this?" leftButtonLabel="Cancel" rightButtonLabel="Show me" (rightButtonSelect)="customDialog.toggle()" (leftButtonSelect)="confirm.toggle()" #confirm>
      <igx-dialog-title>
        <h5>
          Show custom dialog?
        </h5>
      </igx-dialog-title>
    </igx-dialog>
  </div>
</div>
<div class="row-layout group">
  <div class="row-layout group_2">
    <button igxButton="raised" igxRipple [igxToggleAction]="snackbar" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Open snackbar</span>
    </button>
  </div>
  <div class="row-layout group_2">
    <button igxButton="raised" igxRipple [igxToggleAction]="banner" class="button">
      <igx-icon>
        open_in_new
      </igx-icon>
      <span>Open banner</span>
    </button>
  </div>
</div>
<igx-snackbar actionText="Dismiss" (clicked)="snackbar.toggle()" #snackbar class="snackbar">
  This is a message
</igx-snackbar>
<igx-banner #banner class="banner">
  <igx-icon class="icon">
    mail
  </igx-icon>
  <p>
    Banner message
  </p>
  <igx-banner-actions>
    <button igxButton="flat" igxRipple [igxToggleAction]="banner" class="button_2">
      Dismiss
    </button>
  </igx-banner-actions>
</igx-banner>
