<div class="column-layout group">
  <div class="column-layout group_1">
    <h1 class="content">
      Heading 1
    </h1>
    <h2 class="content">
      Heading 2
    </h2>
    <h3 class="content">
      Heading 3
    </h3>
    <h4 class="content"></h4>
    <h5 class="content">
      Heading 5
    </h5>
    <h6 class="content">
      Heading 6
    </h6>
    <p class="igx-typography__subtitle-1 content">
      Subtitle 1
    </p>
    <p class="igx-typography__subtitle-2 content">
      Subtitle 2
    </p>
  </div>
  <div class="column-layout group_2">
    <p class="text"></p>
    <p class="igx-typography__body-2 text"></p>
    <p class="igx-typography__caption text"></p>
    <p class="igx-typography__overline text"></p>
  </div>
</div>
<div class="column-layout group">
  <div class="column-layout group_1">
    <h1 class="content_1">
      Heading 1
    </h1>
    <h2 class="content_1">
      Heading 2
    </h2>
    <h3 class="content_1">
      Heading 3
    </h3>
    <h4 class="content_1"></h4>
    <h5 class="content_1">
      Heading 5
    </h5>
    <h6 class="content_1">
      Heading 6
    </h6>
    <p class="igx-typography__subtitle-1 content_1">
      Subtitle 1
    </p>
    <p class="igx-typography__subtitle-2 content_1">
      Subtitle 2
    </p>
  </div>
  <div class="column-layout group_3">
    <p class="text_1"></p>
    <p class="igx-typography__body-2 text_1"></p>
    <p class="igx-typography__caption text_1"></p>
    <p class="igx-typography__overline text_1"></p>
  </div>
</div>
<div class="column-layout group">
  <div class="column-layout group_1">
    <h1 class="content_2">
      Heading 1
    </h1>
    <h2 class="content_2">
      Heading 2
    </h2>
    <h3 class="content_2">
      Heading 3
    </h3>
    <h4 class="content_2"></h4>
    <h5 class="content_2">
      Heading 5
    </h5>
    <h6 class="content_2">
      Heading 6
    </h6>
    <p class="igx-typography__subtitle-1 content_2">
      Subtitle 1
    </p>
    <p class="igx-typography__subtitle-2 content_2">
      Subtitle 2
    </p>
  </div>
  <div class="column-layout group_3">
    <p class="text_2"></p>
    <p class="igx-typography__body-2 text_2"></p>
    <p class="igx-typography__caption text_2"></p>
    <p class="igx-typography__overline text_2"></p>
  </div>
</div>
