:host {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  background-color: hsla(var(--igx-surface-500));
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 32px;
  min-width: 500px;
  min-height: 50px;
  max-width: 500px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 0 0 32px;
  min-width: 50px;
  min-height: 50px;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  min-width: 50px;
  min-height: 50px;
}
.content {
  margin: 8px;
  height: max-content;
  min-width: min-content;
}
.text {
  color: hsla(var(--igx-grays-900));
  margin: 8px;
  height: max-content;
  min-width: min-content;
}
.content_1 {
  text-align: center;
  color: hsla(var(--igx-secondary-500));
  margin: 8px;
  height: max-content;
  min-width: min-content;
}
.text_1 {
  text-align: center;
  color: hsla(var(--igx-primary-500));
  margin: 8px;
  height: max-content;
  min-width: min-content;
}
.content_2 {
  text-align: right;
  color: hsla(var(--igx-grays-700));
  margin: 8px;
  height: max-content;
  min-width: min-content;
}
.text_2 {
  text-align: right;
  color: hsla(var(--igx-warn-500));
  margin: 8px;
  height: max-content;
  min-width: min-content;
}
