<div class="column-layout group">
  <igx-tabs [disableAnimation]="true" class="tabs">
    <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
        <igx-icon igxTabHeaderIcon>info</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
        <igx-icon igxTabHeaderIcon>backup</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
  <igx-tabs [disableAnimation]="true" tabAlignment="center" class="tabs">
    <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
  <igx-tabs [disableAnimation]="true" tabAlignment="end" class="tabs">
    <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>assignment</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>account_balance_wallet</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>account_circle</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>info</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
  <igx-tabs [disableAnimation]="true" class="tabs">
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-prefix>
          <igx-icon class="icon">
            alarm_add
          </igx-icon>
        </igx-prefix>
        <div>
          <p class="text">
            Tab Header
          </p>
        </div>
        <igx-suffix>
          <igx-icon class="icon">
            clear
          </igx-icon>
        </igx-suffix>
      </igx-tab-header>
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-prefix>
          <igx-icon class="icon">
            alarm_on
          </igx-icon>
        </igx-prefix>
        <div>
          <p class="text">
            Tab Header
          </p>
        </div>
        <igx-suffix>
          <igx-icon class="icon">
            clear
          </igx-icon>
        </igx-suffix>
      </igx-tab-header>
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
    </igx-tab-item>
    <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
      <igx-tab-header>
        <igx-prefix>
          <igx-icon class="icon">
            all_out
          </igx-icon>
        </igx-prefix>
        <div>
          <p class="text">
            Tab Header
          </p>
        </div>
        <igx-suffix>
          <igx-icon class="icon">
            clear
          </igx-icon>
        </igx-suffix>
      </igx-tab-header>
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-prefix>
          <igx-icon class="icon">
            account_balance
          </igx-icon>
        </igx-prefix>
        <div>
          <p class="text">
            Tab Header
          </p>
        </div>
        <igx-suffix>
          <igx-icon class="icon">
            clear
          </igx-icon>
        </igx-suffix>
      </igx-tab-header>
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-prefix>
          <igx-icon class="icon">
            person
          </igx-icon>
        </igx-prefix>
        <div>
          <p class="text">
            Tab Header
          </p>
        </div>
        <igx-suffix>
          <igx-icon class="icon">
            clear
          </igx-icon>
        </igx-suffix>
      </igx-tab-header>
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
    </igx-tab-item>
  </igx-tabs>
</div>
<div class="column-layout group">
  <div class="row-layout group_1">
    <igx-tabs tabAlignment="justify" [disableAnimation]="true" class="tabs">
      <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Tab 1</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>TabEnd</span>
        </igx-tab-header>
      </igx-tab-item>
    </igx-tabs>
  </div>
  <div class="row-layout group_2">
    <igx-tabs [disableAnimation]="true" class="tabs">
      <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
          <igx-icon igxTabHeaderIcon>info</igx-icon>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
          <igx-icon igxTabHeaderIcon>backup</igx-icon>
        </igx-tab-header>
      </igx-tab-item>
    </igx-tabs>
  </div>
</div>
