:host {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  overflow: auto;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.column-layout_1 {
  background-color: transparent;
  border-color: hsla(var(--igx-surface-500));
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin: 0.0px;
  padding: 32.0px;
  width: 500px;
  min-width: 320px;
  min-height: 50px;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.group {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 0 0 32px;
  min-width: 50px;
  min-height: max-content;
}
.group_1 {
  background-color: hsla(var(--igx-surface-500));
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding: 32px;
  width: 500px;
  min-width: 320px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_2 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  margin: 0 0 16px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_3 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  margin: 0 0 16px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_4 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 8px;
  min-width: 50px;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 8px;
  min-width: 50px;
}
.group_6 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
  margin: 0 0 16px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_7 {
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
}
.group_8 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.input {
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
  min-height: max-content;
  max-height: max-content;
}
.input-group {
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
}
.date-picker {
  margin: 0 0 16px;
  height: max-content;
  min-width: 120px;
}
.slider {
  margin: 0 0 32px;
  height: max-content;
  min-width: 50px;
}
.slider_1 {
  margin: 0 0 16px;
  height: max-content;
  min-width: 50px;
}
.slider_2 {
  height: max-content;
  min-width: 50px;
}
.button {
  margin: 16px;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.user-input {
  width: max-content;
  height: max-content;
}
.button_2 {
  margin: 16px;
}
.button-group {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.user-input_1 {
  margin: 0 0 0 16px;
  width: max-content;
  height: max-content;
}
.checkbox {
  margin: 0 16px;
  width: max-content;
  height: max-content;
}
.radio-group {
  margin: 0 32px 0 16px;
  width: max-content;
  height: max-content;
}
.radio {
  padding: 8px;
}
.input_1 {
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
  min-height: max-content;
  max-height: max-content;
  flex-shrink: 0;
}
.textarea {
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
}
.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  min-width: max-content;
  min-height: max-content;
  max-width: max-content;
  max-height: max-content;
}
.chip {
  margin: 0 16px 8px 0;
  width: max-content;
  height: max-content;
}
.icon_1 {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.chip_1 {
  margin: 0 0 8px;
  width: max-content;
  height: max-content;
}
.text {
  height: max-content;
  min-width: min-content;
}
.avatar {
  margin: 16px;
}
.icon_2 {
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin: 8px;
}
.icon_3 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  margin: 8px;
}
.icon_4 {
  font-size: 36px;
  width: 36px;
  height: 36px;
  margin: 8px;
}
.icon_5 {
  font-size: 48px;
  width: 48px;
  height: 48px;
  margin: 8px;
}
